body {
  background: pink;
}

h1 {
  background: lightblue;
}

#myParagraph {
  text-align: center;
  color: red;
}

#myButton {
  color: deeppink;
}

.buttonStyle {
  color: green;
  background: purple;
}

.paragraph {
  background: yellow;
}
