body {
  background: pink;
}

h1 {
  background: lightblue;
}

#myParagraph {
  text-align: center;
  color: red;
}

#myButton {
  color: lightgreen;
  background: blue;
  width: 100%;
  height: 100px;
}

.buttonStyle {
  color: green;
  background: purple;
}

.paragraph {
  background: yellow;
}

#mySecondParagraph {
  background: #bada55;
}
